---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// From @kian
// COLORS
$black:             #000;
$white:             #FFF; 
$transparent:       rgba(255, 255, 255, 0);

$blue-primary:      #00B4FF; 
$blue-secondary:    #80D9FF;
$grey-primary:      #4D4D4D;  
$grey-secondary:    #999999;
$grey-tertiary:     #EEEEEE;

$accent-blue1:      #15BAFF; 
$accent-blue2:      #54D3FF; 
$accent-green:      #37DDC7; 
$accent-orange:     #FDA036;
$accent-yellow:     #FFCC42; 

$blue-primary_lighten: 	lighten($blue-primary, 30%);


// VARIABLES
._ta-center { text-align: center; }
._ta-left   { text-align: left; }
._ta-right  { text-align: right; }

._hide-mobile {
    @include media-query($on-palm) {
        display: none!important;
    } 
}

._img-round { border-radius: 50%; }

._f-white { color: $white; }
._f-bold { font-weight: 600; }

._margin-auto { margin: 0 auto; }
._no-margin-bottom { margin-bottom: 0; }

._flex { display: flex; }
._flex-row { flex-direction: row; }
._flex-row-reverse { flex-direction: row-reverse; }
._flex-column { flex-direction: column; }
._flex-column-reverse { flex-direction: column-reverse; }

._flex-1 { flex: 1; }
._flex-2 { flex: 2; }
._flex-3 { flex: 3; }
._flex-4 { flex: 4; }

@mixin animate-this($speed) {
    animation: all $speed, ease-out; 
}

// Import Lato font from Google Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
