---
layout: home
---

<div class="wrapper wrapper-hero">
  <div class="section section-hero">
    <h1 class="header header_dark _ta-center">
      Grow your email revenue by 300%. 
    </h1>
    <h2 class="subheader subheader_dark _ta-center">
      Nova's Content Intelligence Engine enhances your existing email messaging 
      <br class="_hide-mobile"> to engage customers and prospects at a significantly higher rate.
    </h2>  

    <div class="message wrapper-slick">  
      
      <!-- This for-loop allows us to use recipients.yml in _data/ to populate the recipients' information. -->
      {% for recipient in site.data.recipients %}
      <div>
        <div class="message-header">  
          <!-- This allows us to use sally.yml in _data/ to populate the sender information across all messages. -->
          {% for sally in site.data.sally %}
          <img class="img-sender _img-round" src="{{ site.baseurl }}{{ sally.image }}" alt="{{ sally.firstname }} {{ sally.lastname }}">
          <!-- @kian: Sorry for this, it was the easiest way to cycle through numbers at the top-right of each message. -->
          <p class="message-count _hide-mobile">(Message {% cycle '1', '2', '3' %} of 149)</p> 
          <p class="message-from">from: {{ sally.firstname }} {{ sally.lastname }}, {{ sally.title }} at {{ sally.company }}</p>
          {% endfor %}
          <p class="message-to">to: {{ recipient.firstname }} {{ recipient.lastname }}</p>
        </div>

        <div class="message-body">
          <div class="message-text">
            <div class="message-subject-container">
              <p class="message-subject subject-{{ forloop.index }}">
                Subject: {{ recipient.subject }}  
              </p>
              <span class="message-timestamp timestamp-{{ forloop.index }}"> 
                Sent at {{ recipient.timestamp }}
              </span>
            </div>
            <hr>
            <div class="personalization-{{ forloop.index }}">
              {% if recipient.highlightClass %}
              <p class="{{ recipient.highlightClass }} _no-margin-bottom" id="{{ recipient.highlightId }}">
              {% endif %}
              {{ recipient.personalization }}
              </p>
            </div>
            <p><!-- My name is Sally and I’m an account executive here at BrightSpark. I’m messaging to let you know that we’re releasing a new version of our HR benefits administration software and that we’ll be offering introductory pricing. --> </p>
            <p>
              We think that a forward thinking organization like {{ recipient.company }} would be a great candidate to get early access and provide valuable feedback.
            </p>
            <p>
              I'd be happy to explain further and give a live demo. Are you free this Tuesday at 2pm for 15 minutes to chat?
            </p>
            <p>
              Best,
            </p>
            <p>
              Sally
            </p>
          </div>
          <div class="_hide-mobile message-recipient">
            <img class="img-recipient _img-round" src="{{ recipient.image }}" alt="{{ recipient.firstname }} {{ recipient.lastname }}">
            <p class="message-recipient-name">{{ recipient.firstname }} {{ recipient.lastname }}</p>
            <p class="message-recipient-title">{{ recipient.title }}</p>
            <p class="message-recipient-title">{{ recipient.company }}</p>
            <img class="img-personalization" src="{{ site.baseurl }}{{ recipient.personalizationimage }}" alt="{{ recipient.personalizationimagealt }}">
            
          </div>
        </div>  
      </div>
      {% endfor %} 
      </div>
      
    </div>
  </div>
</div> 

 <div class="wrapper wrapper-example">
  <div class="section">
    <h1 class="header _f-white _ta-center">Nova gets smarter the more you use it.</h1>
    <h2 class="subheader _f-white _ta-center">Nova captures every data point and utilizes machine learning to further improve the performance of your outbound emails.</h2>  
    
    <div>
      <div class="feature">
        <img class="feature-img" src="{{ site.baseurl }}/img/middle/any-scale.png" alt="">
        <div class="feature-text">
          <img class="feature-icon" src="{{ site.baseurl }}/img/middle/i_people.png" alt="">
          <h3>Works at any scale</h3>
          <h4>Nova can personalize thousands of emails in just minutes, and can work for sending 50 or 50,000 messages per day.</h4>
        </div>
      </div>

      <hr class="feature-break">
      
      <div class="feature">
        <img class="feature-img" src="{{ site.baseurl }}/img/middle/knows-what.png" alt="">
        <div class="feature-text">
          <img class="feature-icon" src="{{ site.baseurl }}/img/middle/i_heart.png" alt="">
          <h3>Nova knows what drives engagement</h3>
          <h4>Based on historical data, Nova knows exactly what messages resonate with what individuals. Nova puts this data to work to create a message that is optimized for effectiveness.</h4>
        </div> 
      </div>

      <hr class="feature-break">

      <div class="feature">
        <img class="feature-img" src="{{ site.baseurl }}/img/middle/engage-people.png" alt="">
        <div class="feature-text">
          <img class="feature-icon" src="{{ site.baseurl }}/img/middle/i_brain.png" alt="">
          <h3>Timing matters</h3>
          <h4>When you send a message has a dramatic impact on a recipients' engagement. Nova knows when your prospects are active and most likely to engage with your messaging.</h4>
        </div>
      </div>
    </div>

  </div>
</div>    

<div class="wrapper wrapper-testimonials-intro">
  <h1 class="header _ta-center">Trusted by companies everywhere. </h1>
</div>

<div class="wrapper-slick2">
  
  <div>
    <div class="wrapper wrapper-testimonials">
      <div class="testimonial">
        <div class="testimonial-user">
          <img class="_margin-auto _img-round" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
          <p class="_f-white">
            <span class="_f-bold">Shirley Temple, </span>Customer Advocate
          </p>
          <img class="testimonial-logo _margin-auto" src="http://storefront.nr-assets.net/assets/newrelic/source/NewRelic-logo-bug-clr-w.png">
        </div>
          
        <p class="testimonial-quote _f-white">
          "Nova has dramatically improved the productivity of our sales development team. Nova's product doesn't even seem possible until you see it in action, and then you wondered how you were ever doing things differently."
        </p>

        <div class="testimonial-metrics-wrapper _flex _flex-row">  
          <div class="testimonial-metric _flex _flex-column _flex-1">
            <img src="{{ site.baseurl }}/img/testimonials/1_open.png" alt="">
          </div>

          <div class="testimonial-metric _flex _flex-column _flex-1">
            <img src="{{ site.baseurl }}/img/testimonials/1_demo.png" alt="">
          </div>  

          <div class="testimonial-metric _flex _flex-column _flex-1">
            <img src="{{ site.baseurl }}/img/testimonials/1_response.png" alt="">
          </div>  
        </div>

      </div>
    </div>  
  </div>

</div>



<div class="wrapper wrapper-cta">
  <div class="section section-cta _ta-center">
    <h1 class="header _f-white">Get early access to Nova.</h1>
    <button type="button" class="join-waitlist btn-primary btn-cta">Join the waitlist</button>
 </div>
</div>

<script>
$(document).ready(function() {
    $('.btn-primary').click(function() {
      $(".tooltipster-base").hide(); 
      $('.wrapper-slick').slick('slickPause');
    }); 

    $('#ttip-location').tooltipster({
        content: $('<p>Nova crafts custom introductory paragraphs for each of your recipients.</p>'),
        multiple: true, 
        interactive: true,
    });

    $('#ttip-subject').tooltipster({
        content: $('<p>Nova creates individualized subject lines that get opens.</p>'),
        multiple: true, 
        interactive: true,
    });

    $('#ttip-timestamp').tooltipster({
        content: $('<p>Nova knows when each of your recipients are active and sends your emails at the best possible time.</p>'),
        multiple: true, 
        interactive: true,
    });
});
</script>

<script>
$('.wrapper-slick').on('init', function(event, slick){
  $('.arrow-prev').addClass('arrow-inactive');
});

$('.wrapper-slick').on('beforeChange', function(event, slick, currentSlide, nextSlide){
  switch (currentSlide) {
    case 0: 
      $('#ttip-location').tooltipster('hide');
      break;
    case 1: 
      $('#ttip-subject').tooltipster('hide');
      break;
    case 2: 
      $('#ttip-timestamp').tooltipster('hide');
      break;
  }
});

$('.wrapper-slick').on('afterChange', function(event, slick, currentSlide, nextSlide){
  switch (currentSlide) {
    case 0: 
      $('#ttip-location').tooltipster('show');
      $('.arrow-prev').addClass('arrow-inactive');
      $('.arrow-next').removeClass('arrow-inactive');
      break;
    case 1: 
      $('#ttip-subject').tooltipster('show');
      $('.arrow-prev').removeClass('arrow-inactive');
      $('.arrow-next').removeClass('arrow-inactive');
      break;
    case 2: 
      $('#ttip-timestamp').tooltipster('show');
      $('.arrow-next').addClass('arrow-inactive');
      $('.arrow-prev').removeClass('arrow-inactive');
      break;
  }
});
        

  $(window).load(function() {
    $("#ttip-location").tooltipster('show');
  });
</script>