/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/////////////////////////////
body { background-color: #fff; }
.wrapper { max-width: 100vw; }

.splash { max-width: 900px; padding: 2rem;  margin: 0 auto;}
#value-prop-2 { color: white; font-family: Lato; font-size: 2.5rem; font-weight: 400; text-align: left; }
#value-prop-explained { 
    color: rgba(128,128,128,0.75);
    font-family: Lato;
    font-size: 1.4rem; font-weight: 100; text-align: center; }
#value-prop-explained-2 { 
    color: rgba(230,230,230,1);
    font-family: Lato;
    font-size: 1.1rem; font-weight: 300; text-align: left; width: 66%}
.center { text-align: center; }

.spacer {margin: 1rem; }
.subject { font-weight: 600;}
hr {     border: 0;
    height: 1px;
    background-color: rgba(128,128,128,0.25);
    margin-bottom: 1rem;
}

.recipient-photo {
    border-radius: 50%;
    border: 2px solid #00B4FF; 
    height: 72px;
    width: 72px;
    margin: 0 auto;
    text-align: center;
}
.recipient-name {
    font-weight: 400;
    margin-bottom: 0;

}
.recipient-title {
    text-transform: uppercase; font-size: 0.85rem; font-weight: bold; color: rgba(128,128,128,0.75); line-height: 1rem
}

.msg-highlight {
    animation: all 0.2s ease-out; 
    border: 1px solid $blue-primary_lighten;
    margin-bottom: 15px;
    padding: 10px!important;

    &:hover {
        border-color: $blue-primary;
    }

    /* @kian: disabled 'Personalization' for now */
    // &::after {
    //     content: "Personalization";
    //     display: block;
    //     text-align: right;
    //     font-size: 0.65rem;
    //     font-style: normal;
    //     color: $blue-primary;
    //     font-weight: 300;
    //     letter-spacing: .5px;
    // }
}

.wrapper-header { background-color: #fff;  }
.wrapper-content {background-color: #D8D8D8}

div.email:last-child {
    margin-bottom: 2rem;
}

// TYPE
h1.header { 
    font-family: Lato, Helvetica Neue, Helvetica, Arial; 
    font-size: 2.5rem; 
    font-weight: 300; 
    margin: 0; 

    @include media-query($on-palm) {
        font-size: 2rem; 
        line-height: 2rem; 
        margin-bottom: 1rem; 
    }
}
h2.subheader {
    font-family: Lato, Helvetica Neue, Arial;
    font-size: 1.5rem; 
    font-weight: 300; 

    @include media-query($on-palm) {
        font-size: 1.1rem; 
        line-height: 1.4rem; 
    }
}

._fw-100 { font-weight: 100; }

.header_dark { color: $grey-primary; }
.subheader_dark { color: $grey-secondary; }

// HEADER
.wrapper-header { max-width: $content-width;}

.site-nav_waitlist { float: right; line-height: 71px;  }

.btn-primary {
    @include animate-this(0.2s);
    background-color: $blue-primary;
    border: none;
    color: $white;
    cursor: pointer; 
    font-size: 0.75rem;
    font-weight: 600;
    padding: 13px 10px; 
    text-transform: uppercase;

    &:hover {
        background-color: lighten($blue-primary, 10%);
    }
}

// HERO SECTION
.wrapper-hero {  
    background-color: $grey-tertiary;  
    background-image: url("../img/bg.png");
    background-position-y: 30%;
    background-size: cover; 
    background-repeat: no-repeat;
}
.wrapper-example        { background-color: $blue-primary; }

.section { 
    margin: 0 auto;
    max-width: 960px; 
    padding: 4rem 0;
}
.section-hero { 
    padding: 2rem 0;
}

.message {
    background-color: $white; 
    /* @kian: removed the shadows behind the messages for now. */
    // box-shadow: 
    //     11px 11px 0 $blue-secondary, 
    //     24px 24px 0 $blue-primary;
    margin: 3rem 0 2rem;

    @include media-query($on-palm) {
        box-shadow: none;
    } 
}
.message-header { 
    background-color: $grey-tertiary; 
    padding: 1rem 2rem; 
    & p { margin: 0; }
}

.img-sender { 
    float: left; 
    margin-right: 1rem; 

    height: 48px; 
    width: 48px;
}

.msg { font-family: Lato; }
.message-from { 
    color: $grey-primary; font-weight: 400;

    @include media-query($on-palm) {
        font-size: 0.85rem;
    } 
}
.message-see { 
    color: $blue-primary; 
    float: right; 
    font-size: 0.85rem; 
    font-weight: 400; 
}
.message-to { 
    color: $grey-primary; 

    @include media-query($on-palm) {
        font-size: 0.85rem;
    } 
}

.message-count { 
    color: $grey-secondary; 
    float: right;
    font-size: 0.85rem;
    font-weight: 300;
    text-transform: uppercase;
}

.message-body { 
    display: flex; 
    
    @include media-query($on-palm) {
        flex-direction: column-reverse; 

        height: 425px; 
        overflow: scroll; 

        &::after{
        background: linear-gradient(180deg, $transparent, $white);
        bottom: 0;
        content: "";
        height: 15%;
        position: absolute; 
        width: 100%; 
    }

    }
}
.message-subject-container { display: flex; flex-direction: row; justify-content: space-between; }
.message-subject { 
    font-size: 1rem; 
    font-weight: 500; 
    padding: 10px 0 0;
}
.message-timestamp {
    color: $grey-secondary;
    font-weight: 300; 
    text-align: right;
    padding: 10px 0 0;
}

.message-text  { flex: 4; padding: 1rem 3rem; }
.message-recipient { 
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    
    flex: 1; 
    padding: 1rem 2rem; 
    & p { margin: 0; }

    & .message-recipient-name { color: $grey-primary; font-size: 1.1rem; font-weight: 400; }
    & .message-recipient-title { color: $grey-secondary; font-size: 0.9rem; }
    & .img-personalization { margin: 1rem auto 0; max-width: 50%; }
    & .img-recipient { 
        border: 2px solid $blue-primary;
        margin: 0 auto; 

        height: 72px; 
        width: 72px; 
    }

}

.screenshot {
    background-image: url("../img/screenshot.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain; 
    margin-top: 2rem; 
    margin-bottom: 2rem;
    min-height: 500px; 

}

.arrow-prev, .arrow-next {
    @include animate-this(0.2s);
    position: absolute;
    top: 50%; 
    margin-top: -2rem;
    
    color: $grey-secondary;
    cursor: pointer;
    font-size: 4rem!important; 

    &:hover { color: $grey-primary; }
}
.arrow-prev { left: -4rem; }
.arrow-next { right: -4rem; }
.arrow-inactive { 
    color: $grey-tertiary; 
    cursor: auto;

    &:hover { color: $grey-tertiary; }
}

/* @kian: This gets rid of the bug with Slick showing a focus outline on the current slide. */
.slick-slide:focus { outline:0;  }
.slick-dots { margin-left: 0; }

/* @kian: Makes the tooltips responsive */
.tooltipster-base {
    z-index: 1; 
    @include media-query($on-palm) {
        width: 50vw!important;
    }
}

.feature-img { 
    max-height: 300px; 

    @include media-query($on-palm) {
        max-height: 250px;      
    }
}
.feature {
    display: flex;
    padding: 3rem 0; 

    &:first-child { padding-top: 5rem; }
    &:nth-of-type(odd) { 
        flex-direction: row; 
    
        img.feature-img { box-shadow: -15px 15px 1px rgba($black, 0.2) }
        div.feature-text { margin-left: 4rem; text-align: left; }
        h4 { padding-right: 15%; }
    }
    &:nth-of-type(even) { 
        flex-direction: row-reverse; 

        img.feature-img { box-shadow: 15px 15px 1px rgba($black, 0.2); }
        img.feature-icon { align-self: flex-end;  }
        div.feature-text { margin-right: 4rem; text-align: right; }
        h4 { padding-left: 15%; }
    }

    @include media-query($on-palm) {
        &:nth-of-type(odd), &:nth-of-type(even) { 
            flex-direction: column; 

            div.feature-text { margin: 2rem 0; text-align: center; }
            img.feature-img:nth-of-type(odd), img.feature-img:nth-of-type(even) { box-shadow: none; display: block; margin: 0 auto; }
            img.feature-icon { margin: 0 auto;  }
            h4 { padding: 0; }
        }
    }
}

.feature-break { background-color: rgba($white, 0.2); height: 2px; }

.feature-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 4rem;
    justify-content: center;
    padding: 0;

    h3, h4 { color: $white; margin-bottom: 0; }
}

h3 { font-size: 2rem; }
h4 { font-size: 1.25rem; }

.feature-icon { height: 96px; width: 96px; }

//
//
.wrapper-testimonials-intro { margin: 3rem 0 1rem; }
.wrapper-testimonials {  }

.testimonial {
    background-image: url('../img/testimonials/1_bg.png');
    background-size: cover;
    border: 1px solid $white;

    // box-shadow: 1260px 0px 0px rgba(98, 119, 117, 0.52), -1260px 0px 0px 0px rgba(98, 119, 117, 0.49);

    margin: 0 auto;
    min-height: 600px;
    max-width: 1200px;

        text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;

}
.testimonial-inner { padding-bottom: 3rem; position: relative; text-align: center; }
.testimonial-logo {
    max-width: 300px; 
}
.testimonial-quote { 
    font-size: 1.5rem; 
    margin: 2rem auto 3rem; 
    width: 66%; 

    @include media-query($on-palm) {
        font-size: 1rem; 
        line-height: 1.25rem; 
        margin: 2rem auto; 
        padding: 0 1rem; 
        width: initial; 
    }
}

.testimonial-metrics-wrapper {
    @include media-query($on-palm) {
        flex-direction: column;
    }
}

.testimonial-metric {

    @include media-query($on-palm) {
        margin: 3rem auto;

        &:first-child { margin-top: 2rem; }
        & img { display: block; margin: 0 auto; }
    }
}


//

.wrapper-cta { background-color: $grey-secondary; background-image: url("../img/bg_dark.png"); background-size: cover; }
.section-cta { padding: 8rem 0; }
.btn-cta { 
    margin: 2rem 0 1.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
}

footer { background-color: $grey-primary; }
.site-footer { border: none; padding: 1rem 0; }
.footer-nav { align-self: center; }
.footer-link { 
    color: $grey-secondary; 
    margin: 0 1rem; 
    text-decoration: none;
    
    &:hover { color: $blue-primary; text-decoration: none; }
    &:active, &:focus, &:visited { color: $grey-secondary; text-decoration: none; }

}
._width-content { max-width: $content-width; }